<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">

        <receiver
            android:name=".sync.DebugBackgroundSyncReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.roombooking.DEBUG_RUN_BACKGROUND_SYNC" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
